/* Projects.css */

.projects-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: bisque; /* Moved from body selector */
}

/* Projects.css or a separate file for image styles */

/* ... your existing styles ... */

/* ImageStyles.css */

.big-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.big-image-card {
  flex: 0 0 calc(48% - 10px); /* Adjust as needed for the spacing between images */
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.big-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

.big-image-card:hover {
  transform: scale(1.1);
}


/* ... other styles remain unchanged ... */


h2 {
  text-align: center;
  color: #333;
}

.video-container {
  margin: 20px 0;
}

iframe {
  width: 100%;
  height: 315px;
}

.video-description {
  text-align: center;
  color: #666;
}

.big-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.big-project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

/* Adjust ProjectCard styles as needed */
