/* Technologies.css */
.tech{
  background-color: rgb(230, 143, 36);
}
.technologies-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 61, 61);
  }
  
  h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .technologies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
  }
  
  @media (max-width: 768px) {
    .technologies-list {
      flex-direction: column;
      align-items: center;
    }
  }
  