/* WorkExperience.css */
.expo{
  background-color: rgb(238, 67, 24);
}

.work-experience-container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .work-entry {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    color: #333;
  }
  
  .position {
    color: #555;
    font-weight: bold;
  }
  
  .date {
    color: #777;
  }
  
  ul {
    padding: 0;
    margin-top: 10px;
  }
  
  li {
    list-style-type: none;
    margin-bottom: 8px;
  }
  
  @media screen and (max-width: 600px) {
    .work-experience-container {
      padding: 20px;
    }
  
    .work-entry {
      padding: 10px;
    }
  }
  